<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
{% endblock %}  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
</style>
{% block script %}
{% endblock %}
</head>

<body>
<div class="jumbotron text-center p-3 mb-0 bg-success text-white" style="margin-bottom:0">
   {% block banner %}
   {% endblock %}
</div>

{% block controls %}


{% endblock %}


{% block body %}
<div class="row">
   <div class="col-sm-12 bg-info text-center text-light">
    <p id=message_bar></p>
   </div>
</div>

{% endblock %}


{% block bar_bottom %}

{% endblock %}
<div class="jumbotron text-center p-3 mb-2 bg-light text-muted" style="margin-bottom:0">
<p>(c) 2019 Martijn Minnen - CS50w Project2</p>
</div>
</body>
</html>

